<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-body>

    <nb-layout  center >

      <nb-layout-header>
        <div class="header_main">
          <h1>Witamy w 'Systemie do organizacji treningu sportowych'</h1>
          <div class="header">
            <a [routerLink]="['/app-edit-user', loggedUserEmail]">
              <img src="assets/settings.png" alt="">
            </a>
            <div class="header_email">
              <img src="assets/user.png">
              <label> {{loggedUserEmail}}</label>
            </div>
            <span style="margin-left: 20px">
          <button nbButton
                  (click)="logout()"
                  outline
                  status="danger">Wyloguj</button>
        </span>
          </div>
        </div>
        <div class="linkk">
          <a [routerLink]="['/app-pick-up-category']">Powrót do kategorii</a>
        </div>
      </nb-layout-header>


      <nb-layout-column>


        <form  (ngSubmit)="save()" #form="ngForm" aria-labelledby="title">

          <div class="add-event-control-group">
            <h2 id="title" class="title-page">Edytuj dane użytkownika</h2>
          </div>


          <div class="add-event-control-group">
            <label class="label-new-event" for="input-fullName">Pełne imię i nazwisko:</label>
            <input class ="input-new-event" nbInput
                   [(ngModel)]="user.fullName"
                   name="fullName"
                   id="input-fullName">
          </div>
          <div class="add-event-control-group">
            <label class="label-new-event" for="input-link">E-mail:</label>
            <input class ="input-new-event" nbInput
                   [(ngModel)]="user.email"
                   name="email"
                   id="input-link">
          </div>
          <div class="add-event-control-group">
            <label class="label-new-event" for="input-height">Wysokość:</label>
            <input class ="input-new-event" nbInput
                   [(ngModel)]="user.height"
                   name="height"
                   id="input-height">
          </div>
          <div class="add-event-control-group">
            <label class="label-new-event" for="input-weight">Waga:</label>
            <input class ="input-new-event" nbInput
                   [(ngModel)]="user.weight"
                   name="weight"
                   id="input-weight">
          </div>

          <div class="add-event-control-group">
            <label class="label-new-event">Preferencje sportowe:</label>

            <select class="nb-theme-new-event nb-theme-new-event1"
                    [(ngModel)]="user.sportPreference"
                    name="level"
                    id="input-level"
                    type="text"

                    status="info">
              <option value="0">Trzymać formę</option>
              <option value="1">Zwiększ wagę</option>
              <option value="-1">Tracić na wadze</option>
            </select>

            <a nbButton class="open-pop-up">pokaż info</a>
          </div>




          <button  nbButton
                   type="submit"
                   [disabled]="submitted || !form.valid"
                   status="success" class ="button-new-event">
            Zapisać
          </button>

        </form>

        <h2 id="title" class="title-page">TWOJE STARE ZDARZENIA</h2>

        <nb-card size="small">
          <nb-list>
            <nb-list-item *ngFor="let e of oldEvents">
             <div class="text-flex">
               <span><b>Kategoria:</b> {{e.category}}</span>
               <span *ngIf="e.date"><b>Data: </b>{{e.date}}</span>
               <div>
                 <span *ngIf="e.level.toString() === '1'"><b>Poziom:</b> Zwiększ wagę </span>
                 <span *ngIf="e.level.toString() === '0'"><b>Poziom:</b> Trzymać formę </span>
                 <span *ngIf="e.level.toString() === '-1'"><b>Poziom:</b> Tracić na wadze </span>
               </div>
             </div>
            </nb-list-item>
          </nb-list>
        </nb-card>

        <h2 id="title" class="title-page">TWOJE PRZYSZŁE WYDARZENIA</h2>

        <nb-card >
          <nb-list>
            <nb-list-item *ngFor="let e of futureEvents">
              <div class="text-flex">
                <span><b>Kategoria:</b> {{e.category}}</span>
                <span *ngIf="e.date"><b> Data: </b> {{e.date}}</span>
                <div>
                  <span *ngIf="e.level.toString() === '1'"><b>Poziom:</b> Zwiększ wagę </span>
                  <span *ngIf="e.level.toString() === '0'"><b>Poziom:</b> Trzymać formę </span>
                  <span *ngIf="e.level.toString() === '-1'"><b>Poziom:</b> Tracić na wadze </span>
                </div>

              </div>
            </nb-list-item>
          </nb-list>
        </nb-card>


        <h2 id="title" class="title-page">TWOJA WAGA {{userResultWeight }}</h2>
      </nb-layout-column>

    </nb-layout>

  </nb-card-body>
</nb-card>



<!-- popap_event -->
<div class="popap  hidden">
  <div class="popap__content">
    <div class="popap__main">
      <div *ngIf="user.sportPreference?.toString() === '1'">
        <h2>Plan treningowy na masę – liczba serii</h2>
<p>Liczba serii jest elementem bardzo indywidualnym, szczególnie, jeśli weźmiemy pod uwagę stopień adaptacji w treningu siłowym. Jeśli chcemy dobrać odpowiednią liczbę serii, należy rozważać ją w kontekście całego tygodnia i poznać naszą anatomię, gdyż musimy obliczać serie w odniesieniu do konkretnych mięśni zaangażowanych w poszczególnych ćwiczeniach.</p>
<p>Dla przykładu – liczba serii w przysiadzie powinna uwzględniać mięśnie prostowników stawu kolanowego (mięsień czworogłowy) i prostowników stawu biodrowego (mięśnie pośladkowe i grupa mięśni kulszowo-goleniowych).</p>
        <p>Liczba serii w martwym ciągu powinna przede wszystkim uwzględniać mięśnie prostowników stawu biodrowego (mięśnie pośladkowe i grupa mięśni kulszowo-goleniowych), przy czym nie należy liczyć serii z martwego ciągu dla mięśni grzbietu, gdyż nie są one motorem napędowym w tym ćwiczeniu. Podczas wykroków liczba serii powinna być przypisana do mięśni czworogłowych.</p>
      </div>
      <div *ngIf="user.sportPreference?.toString()  === '0'">
     <h2>PLANY TRENINGOWE</h2>
        <p>Plan treningowy tworzony przez nas jest całkowicie spersonalizowany, dostosowany do Twoich celów, możliwości i potrzeb. Jest on przygotowywany na podstawie ankiet wypełnionych przez Ciebie. Ankiety wyślemy do Ciebie przy rozpoczęciu współpracy, w nich zawarte będą pytania i wszelkie, potrzebne nam informacje o Tobie, Twoim przebiegu dnia, oraz miejscu wykonywania treningu. Chcesz wykonywać plan treningowy w domu, bez sprzętu? Chcesz skupić się na danej partii ciała? Interesuje Cię np. plan treningowy skierowany na pośladki? A może poszukujesz planu treningowego, który będziesz mógł wykonać na wakacjach, z drugą połówką? Nie stanowi to problemu, dostosujemy plan do Twoich oczekiwań i celów treningowych. Jeżeli trening wesprzesz odpowiednim żywieniem gwarantujemy Ci efekty i zadowolenie.</p>
      </div>
      <div *ngIf="user.sportPreference?.toString() === '-1'">
<h2>Trening na redukcję - najważniejsze zasady</h2>

        <p>Trening kardio to bardzo ważny element treningu na redukcję tkanki tłuszczowej, szczególnie w przypadku osób początkujących. Ćwiczenia aerobowe wykonywane przez około 30-45 minut na poziomie 60-70% tętna maksymalnego (HR max) pozwalają efektywnie spalać tkankę tłuszczową. Wysiłek nie powinien trwać krócej niż 30 minut, ponieważ najpierw - przez pierwsze 20 min treningu - spalane są węglowodany, a dopiero potem tłuszcz.</p>
        <p>Trening kardio pobudza do większej pracy serce, dlatego zaliczamy do niego wszystkie aktywności fizyczne, które przyspieszają tętno: bieganie, pływanie, jazdę na rowerze, taniec, marsz, marszobieg. Takie samo działanie mają ćwiczenia na maszynach: rowerku stacjonarnym, orbitreku, stepperze, jak również jazda na łyżwach czy rolkach.</p>
        <p>Trening interwałowy, ze względu na to, że jest bardzo wymagający i wiąże się ze znacznym wydatkiem energetycznym dla organizmu, nie powinien trwać dłużej niż 40 minut. Lepiej też, aby osoby dopiero rozpoczynające przygodę z treningiem na redukcję tkanki tłuszczowej najpierw wybrały ćwiczenia siłowe i kardio, a dopiero później przeszły do interwałów.</p>
        <p>Ważnym elementem treningu na spalanie tkanki tłuszczowej jest również trening siłowy. Dlaczego? Spalanie tłuszczu podczas treningu kardio jest intensywne - można spalić około 500-800 kalorii, jednak po zakończeniu ćwiczeń metabolizm bardzo spowalnia. Inaczej z treningiem siłowym - w trakcie ćwiczeń traci się mniej tkanki tłuszczowej niż w trakcie treningu kardio, za to spalanie trwa aż do 36 godzin po zaprzestaniu aktywności fizycznej. W tym czasie co godzinę organizm spala 10 kalorii bez żadnego wysiłku.</p>
      </div>
    </div>
  </div>
</div>
<!-- popap_event -->



