<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-body>

    <nb-layout center>

      <nb-layout-header>
        <h1 id="title" class="LOGO">DiBiSi</h1>
        <div style="width: 100%; text-align: right;">
          <label>user: {{loggedUserEmail}}</label>
          <span style="margin-left: 20px">
          <button nbButton
                  (click)="logout()"
                  outline
                  status="danger">Logout</button>
        </span>
        </div>

      </nb-layout-header>


      <nb-layout-column>


        <div *ngFor="let cat of categories">
          <nb-card>
            <nb-card-body>
         <div style="text-align: center">
          <a [routerLink]="['/app-main-page', cat]">{{ cat }} </a>
         </div>
            </nb-card-body>
          </nb-card>
        </div>






      </nb-layout-column>

    </nb-layout>

  </nb-card-body>
</nb-card>
