<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-body>

    <nb-layout center>

      <nb-layout-header>
        <div class="header_main">
          <h1>Witamy w 'Systemie do organizacji treningu sportowych'</h1>
          <div class="header">
            <a [routerLink]="['/app-edit-user', loggedUserEmail]">
              <img src="assets/settings.png" alt="">
            </a>
            <div class="header_email">
              <img src="assets/user.png">
              <label> {{loggedUserEmail}}</label>
            </div>
            <span style="margin-left: 20px">
          <button nbButton
                  (click)="logout()"
                  outline
                  status="danger">Wyloguj</button>
        </span>
          </div>
        </div>
      </nb-layout-header>

      <nb-layout-column>



        <div *ngFor="let cat of categories">
          <nb-card class="ico-gym">
            <nb-card-body>
              <div style="text-align: center">
                <a [routerLink]="['/app-main-page', cat]">{{ cat }} </a>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div style="text-align: center">
          <button nbButton
                  hero
                  status="success"
                  (click)="addNew()"
          >Dodaj wydarzenia
          </button>

        </div>
      </nb-layout-column>

    </nb-layout>


  </nb-card-body>
</nb-card>
