
.title-page{
  color: #525252;
  text-align: center;
  text-transform: uppercase;
}
.add-event-control-group {
  margin-bottom: 0.5rem;

}

.input-new-event{
  border-color: #cbd2dc;
  margin-top: 5px;
}
.nb-theme-new-event{
  margin-top:5px;
}

input {
  width: 100%;
  clear: both;
}


.label-new-event{
  color: #4b4b4b;
}

.button-new-event{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.LOGO{

  //background-image: linear-gradient(to right, red, orange 50%, brown);
  background-image: linear-gradient(to right, #4ca6ff, #00d7ff 50%, #40dc7e);
  color: transparent;
  -webkit-background-clip: text;

}
