<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-body>

    <nb-layout  center >

      <nb-layout-header >
        <h1 id="title" class="LOGO">DiBiSi</h1>
      </nb-layout-header>


      <nb-layout-column>


        <form  (ngSubmit)="add()" #form="ngForm" aria-labelledby="title">

          <div class="add-event-control-group">
            <h2 id="title" class="title-page">Add new sport event</h2>
          </div>


          <div class="add-event-control-group">
            <label class="label-new-event" for="input-category">Category:</label>
            <input class ="input-new-event" nbInput
                   [required]="true"
                   [(ngModel)]="event.category"
                   #category="ngModel"
                   [status]="!category.touched ? 'danger' : 'success'"
                   name="category"
                   id="input-category">
            <ng-container *ngIf="category.touched">
            <p class="error-message" *ngIf="category.errors?.required">
              Category is required!
            </p>

          </ng-container>


          </div>
          <div class="add-event-control-group">
            <label class="label-new-event" for="input-city">City:</label>
            <input class ="input-new-event" nbInput
                   [required]="true"
                   [(ngModel)]="event.city"
                   #city="ngModel"
                   [status]="!category.touched ? 'danger' : 'success'"
                   name="city"
                   id="input-city">
            <ng-container *ngIf="city.touched">
              <p class="error-message" *ngIf="city.errors?.required">
                City is required!
              </p>

            </ng-container>
          </div>
          <div class="add-event-control-group">
            <label class="label-new-event" for="input-link">Link:</label>
            <input class ="input-new-event" nbInput
                   [(ngModel)]="event.link"
                   name="link"
                   id="input-link">
          </div>
          <div class="add-event-control-group">
            <label  class="label-new-event" for="input-description">Description:</label>
            <textarea class ="input-new-event" type="text"
                      nbInput
                      fullWidth
                      shape="round"
                      fieldSize="large"
                      [(ngModel)]="event.description"
                      name="description"
                      id="input-description">

          </textarea>
          </div>

          <div class="add-event-control-group">
            <label class="label-new-event">Level:</label>
            <nb-select
              class="nb-theme-new-event"
                       [(ngModel)]="event.level"
                       name="level"
                       id="input-level"
                       type="text"

                       status="info">
              <nb-option value="1">Junior</nb-option>
              <nb-option value="2">Medium</nb-option>
              <nb-option value="3">Expert</nb-option>
              <nb-option value="4">Olympic player</nb-option>
            </nb-select>
          </div>


          <button  nbButton
                   type="submit"
                   [disabled]="submitted || !form.valid"
                   status="success" class ="button-new-event">
            Add new
          </button>

        </form>


      </nb-layout-column>

    </nb-layout>

  </nb-card-body>
</nb-card>
