<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-body>

    <nb-layout center>
      <nb-layout-header>
        <h1 id="title" class="title ">Add new sport event</h1>
      </nb-layout-header>
      <nb-layout-column>


        <form (ngSubmit)="add()" #form="ngForm" aria-labelledby="title">

          <div class="add-event-control-group">
            <label class="label" for="input-category">Category:</label>
            <input nbInput
                   [(ngModel)]="event.category"
                   #email="ngModel"
                   name="category"
                   id="input-category">

          </div>
          <div class="add-event-control-group">
            <label class="label" for="input-city">City:</label>
            <input nbInput
                   [(ngModel)]="event.city"
                   #email="ngModel"
                   name="city"
                   id="input-city">

          </div>
          <div class="add-event-control-group">
            <label class="label" for="input-description">Description:</label>
            <textarea type="text"
                      nbInput
                      fullWidth
                      shape="round"
                      fieldSize="large"
                      [(ngModel)]="event.description"
                      name="description"
                      id="input-description">

          </textarea>
          </div>

          <div class="add-event-control-group">
            <label class="label" for="input-description">Level:</label>
            <nb-select status="info">
              <nb-option value="1">Junior</nb-option>
              <nb-option value="2">Medium</nb-option>
              <nb-option value="3">Expert</nb-option>
              <nb-option value="4">Olympic player</nb-option>
            </nb-select>
          </div>
        </form>
      </nb-layout-column>
      <nb-layout-footer>
        <button nbButton
                fullWidth
                status="success"
                [disabled]="submitted || !form.valid"
                [class.btn-pulse]="submitted">
          Add new
        </button>
      </nb-layout-footer>
    </nb-layout>
  </nb-card-body>
</nb-card>
