<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-body>

    <nb-layout  center >

      <nb-layout-header>
        <div class="header_main">
          <h1>Witamy w 'Systemie do organizacji treningu sportowych'</h1>
          <div class="header">
            <a [routerLink]="['/app-edit-user', loggedUserEmail]">
              <img src="assets/settings.png" alt="">
            </a>
            <div class="header_email">
              <img src="assets/user.png">
              <label> {{loggedUserEmail}}</label>
            </div>
            <span style="margin-left: 20px">
          <button nbButton
                  (click)="logout()"
                  outline
                  status="danger">Logout</button>
        </span>
          </div>
        </div>
        <div class="linkk">
          <a [routerLink]="['/app-pick-up-category']">Back to category</a>
        </div>
      </nb-layout-header>


      <nb-layout-column>


        <form  (ngSubmit)="update()" #form="ngForm" aria-labelledby="title">

          <div class="add-event-control-group">
            <h2 id="title" class="title-page">Edit sport event</h2>
          </div>


          <div class="add-event-control-group">
            <label class="label-new-event" for="input-category">Category:</label>
            <input class ="input-new-event" nbInput
                   [required]="true"
                   [(ngModel)]="event.category"
                   #category="ngModel"
                   [status]="!category.touched ? 'danger' : 'success'"
                   name="category"
                   id="input-category">
            <ng-container *ngIf="category.touched">
              <p class="error-message" *ngIf="category.errors?.required">
                Category is required!
              </p>

            </ng-container>


          </div>
          <div class="add-event-control-group">
            <label class="label-new-event" for="input-city">City:</label>
            <input class ="input-new-event" nbInput
                   [required]="true"
                   [(ngModel)]="event.city"
                   #city="ngModel"
                   [status]="!category.touched ? 'danger' : 'success'"
                   name="city"
                   id="input-city">
            <ng-container *ngIf="city.touched">
              <p class="error-message" *ngIf="city.errors?.required">
                City is required!
              </p>

            </ng-container>
          </div>

          <div class="add-event-control-group">
            <label  class="label-new-event" for="input-description">Description:</label>
            <textarea class ="input-new-event" type="text"
                      nbInput
                      fullWidth
                      shape="round"
                      fieldSize="large"
                      [(ngModel)]="event.description"
                      name="description"
                      id="input-description">

          </textarea>
          </div>

          <div class="add-event-control-group">
            <label class="label-new-event">Level:</label>
            <!--<nb-select-->
              <!--class="nb-theme-new-event"-->
              <!--[(ngModel)]="event.level"-->
              <!--name="level"-->
              <!--id="input-level"-->
              <!--type="text"-->

              <!--status="info">-->
              <!--<nb-option value="0">Keep fit</nb-option>-->
              <!--<nb-option value="+1">Increase weight</nb-option>-->
              <!--<nb-option value="-1">Losing weight</nb-option>-->
            <!--</nb-select>-->

            <select class="nb-theme-new-event"
                    [(ngModel)]="event.level"
                    name="level"
                    id="input-level"
                    type="text"

                    status="info">
              <option value="0">Trzymać formę</option>
              <option value="1">Zwiększ wagę</option>
              <option value="-1">Tracić na wadze</option>
            </select>



          </div>


          <button  nbButton
                   type="submit"
                   [disabled]="submitted || !form.valid"
                   status="success" class ="button-new-event">
            Update
          </button>

        </form>


      </nb-layout-column>

    </nb-layout>

  </nb-card-body>
</nb-card>
